@font-face {
    font-family: Noto Sans CJK TC;
    src: url('./font/NotoSansCJKtc-Regular.otf');
}


html{
    scroll-behavior: smooth;
}

body{
	border: 0;
	padding: 0;
	margin: 0;

	width: 100vw;
	overflow-x: hidden;
	
	display: flex;
	flex-direction: column;
	
	font-family: Noto Sans CJK TC;
}

.full_img{
	width: 100%;
}

#navbar{
	position: fixed;
	width: 100vw;
	height: 6.8vw;
	background-color: #CBB2A1;
	z-index: 10;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar_mark{
	width: 23vw;
	height: 3.75vw;
	
	position: absolute;
	/* top: 1.74vw; */
	left:3.4vw;
	
	/* display: flex;
    align-items: center;
    justify-content: space-around; */
}

#mark{
	display: flex;
    align-items: center;
    justify-content: space-around;
	font-weight: 700;
}

#icon{
	width: 4.51vw;
    height: 3.57vw;
}

#navbar_title{
	font-size: 1.67vw;
    text-align: center;
    /* font-family: Noto Sans CJK TC; */
    color: #FFFFFF;
}

#navbar_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1.5vw;
    right: 3.7vw;
    /* width: 34.7vw; */
    height: 4.3vw;
}

#navbar_list input{
	text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
	outline: none;
	border: none;
	background: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
	font-weight: 300;
}

.nav_button{
	padding: 1vw 1vw;
	list-style: none;
    font-size: 1.7vw;
	font-family: SF Compact Display;
}

a:hover{
	font-weight: 700;
}

#home{
	width: 100vw;
	height: 60vw;
	color: #FFFFFF;
	min-height: 50vh;
	
	display: flex;
	align-items: center;
}

.home_element{
	display: table-cell;
	vertical-align: middle;
}

#group_pic{
	width: 57vw;
	height: 32.5vw;
	
	position: relative;
	left: 21.5vw;
	z-index: 1;

	
	/* background-image: url('./pic/group_pic.png');
	background-size: cover; */
}

#left_heart{
	width: 2.83vw;
	height: 9vw;
	
	position: relative;
	top: -11vw;
	left: -40vw;
	z-index: 2;
	
	/* background-image: url('./pic/left_heart.png');
	background-size: cover; */
}
#right_heart{
	width: 2.75vw;
	height: 8.86vw;
	
	position: relative;
	top: 15vw;
	right: -21vw;
	z-index: 2;
	
	/* background-image: url('./pic/right_heart.png');
	background-size: cover; */
}
#left_water{
	width: 12.59vw;
	height: 18.8vw;
	
	position: relative;
	top: 10vw;
	left: -50vw;
	z-index: 2;
	
	/* background-image: url('./pic/left_water.png');
	background-size: cover; */
}
#right_water{
	width: 12.59vw;
	height: 15vw;
	
	position: relative;
	top: -1vw;
	right: 0.5vw;
	z-index: 2;
	
	/* background-image: url('./pic/right_water.png');
	background-size: cover; */
}

#famous{
	position: relative;
	top: -10vw;
	left: 25vw;
	
	width: 47vw;
	height: 6.67vw;
	
	color: #000000;
	text-align: center;
	
	font-family: Noto Sans;
}

#about{
	width: 100vw;
	height: 60vw;
	min-height: 40vh;
}

#about_top{
	width: 100vw;
    height: 60vw;
    background-color: #FFFFFF;
    background-image: url(./pic/background2.png);
    background-size: 100vw, 50vw;
    background-repeat: no-repeat;
}

#about_bottom{
	width: 100vw;
	height: 10vw;
	background-color: #FFFFFF;
}

#about_us{
	width: 100vw;
	height: 4.17vw;
	
	font: Noto Sans CJK TC;
	font-size: 2.5vw;
	font-weight: 700;
	line-height: 3.7vw;
	color: #856A6E;
	
	position: relative;
	top: 9.3vw;
	text-align: center;
}

#dynamic_window{
	display: flex;
	position: relative;
	top: 10vw;
	height: 31vw;
}

#button_left{
	width: 3.68vw;
	height: 3.68vw;
	
	position: relative;
	top: 13vw;
	left: 20vw;
	opacity: 0.2;
}

button{
	border: none;
    outline: none;
    background: none;
    padding: 0;
    border-radius: 1vw;
    cursor: pointer;
}

#button_right{
	width: 3.68vw;
	height: 3.68vw;
	
	position: relative;
	top: 13vw;
	left: 22vw;
	opacity: 1;
}

#display_area{
	width: 51vw;
	height: 29vw;
	
	position: relative;
	/* top: 10vw; */
	left: 20.8vw;
	
	overflow: hidden;
}

#card_box{
	width: 357vw;
	height: 29vw;
	display: flex;
	position: relative;
	left: 0vw;
}

.card{
	width: 50.9vw;
	height: 29vw;
	display: flex;
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(4){
	background-image: url('./pic/female.png');
	background-size: cover;
}

.card:nth-child(3), .card:nth-child(5), .card:nth-child(6), .card:nth-child(7){
	background-image: url('./pic/male.png');
	background-size: cover;
}

.card_left{
	position: relative;
	width: 24.9vw;
	height: 22.5vw;
}

#gif1{
	position: relative;
	left: 6.18vw;
	bottom: -4vw;
	width: 17.56vw;
	height: 22.5vw;
}

#gif2{
	position: relative;
	left: 5.21vw;
	bottom: -3.15vw;
	width: 16.32vw;
	height: 22.85vw;
}

#gif3{
	position: relative;
	left: 2.51vw;
    bottom: -5.7vw;
	width: 22.5vw;
	height: 22.15vw;
}

#gif4{
	position: relative;
	left: 6.11vw;
    bottom: -6.1vw;
	width: 15vw;
	height: 23.33vw;
}

#gif5{
	position: relative;
	left: 9.11vw;
    bottom: -5.8vw;
    width: 10.71vw;
    height: 23.68vw;
}

#gif6{
	position: relative;
	left: 2.85vw;
    bottom: -4.75vw;
	width: 21.04vw;
	height: 22.85vw;
}

#gif7{
	position: relative;
	left: 4.51vw;
    bottom: -5vw;
    width: 15.15vw;
    height: 24.51vw;
}

.self_intro{
	position: relative;
	width: 26vw;
	height: 100%;
}

.intro_name{
	padding: 6.5vw 14.18vw 1.25vw 0.9vw;
    width: 10.9vw;
    height: 2.5vw;
	
	font: Noto Sans CJK TC;
	font-weight: 500;
	font-size: 1.67vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.thumbtack{
	width: 1.7vw;
	height: 1.78vw;
}

.intro_font{
	width: 6.9vw;
	letter-spacing: 0.3vw;
}

.intro_list{
	width: 20vw;
    height: 13.32vw;
    padding: 0vw 10vw 4.93vw 0vw;
}

.intro_list_bar{
	display: flex;
	padding: 0.4vw 0vw 0.4vw 0vw;
}

.intro_list_title{
	width: 3.26vw;
	height: 2vw;
	
	background: #CBB2A1;
	border-radius: 8.24561px;
	text-align: center;
	color: #FFFFFF;
	font: Noto Sans CJK TC;
	line-height: 2vw;
	font-size: 0.9vw;
	font-weight: 500;
}

.intro_list_content{
	height: 2vw;
	line-height: 2vw;
	font-size: 1vw;
	padding: 0vw 0vw 0vw 1.5vw;
	width: 15vw;
}

#headbar{
	position: relative;
    top: 10vw;
    height: 12vw;
	padding: 0 15.9vw;
	display: flex;
}

.sticker{
	width: 9vw;
    padding: 0 0.35vw;
	text-align: center;
}

.head{
	padding: 0.8vw 0.5vw 0.4vw 0.7vw;
	height: 6.7vw;
}

.sticker:nth-child(1){
	opacity: 1;
}

.sticker:nth-child(2), .sticker:nth-child(3), .sticker:nth-child(4), .sticker:nth-child(5), .sticker:nth-child(6), .sticker:nth-child(7){
	opacity: 0.2;
}

.name{
	font: Noto Sans CJK TC;
	font-weight: 500;
	font-size: 1vw;
	color: #856A6E;
}

#authority{
	text-align: center;
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    font-size: 1vw;
    line-height: 1.8vw;
    
	width: 40vw;
    padding: 2vw 36vw;
    color: #FFFFFF;
    background-color: #CBB2A1;
    min-height: 5vh;
}