doctype html
html(style='overflow-x:hidden')
  head
    meta(charset='utf-8')
    title Mental Health Service
    link(rel='icon' type='image/x-icon' href='./pic/icon.ico')
    link(rel='stylesheet' href='main.css' type='text/css')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  body
    #navbar
      #navbar_mark
        a#mark(href='http://luffy.ee.ncku.edu.tw/~anson2191/project/main.html')
          #icon
            img.full_img(src='./pic/icon.png')
          #navbar_title
            | Mental Health Service
      #navbar_list
        li.nav_button
          a(onclick="scrollToSection('home')") 首頁
        li.nav_button
          a(onclick="scrollToSection('about')") 關於我們
        li.nav_button
          a 諮商預約
        li.nav_button
          a 常見問答
    #home
      #group_pic.home_element
        img.full_img(src='./pic/group_pic.png')
      #left_heart
        img.full_img(src='./pic/left_heart.png')
      #right_heart
        img.full_img(src='./pic/right_heart.png')
      #left_water
        img.full_img(src='./pic/left_water.png')
      #right_water
        img.full_img(src='./pic/right_water.png')
    #famous
      p(style='font-size: 1.67vw') It’s better to light the candle than to curse the darkness
      p(style='font-size: 1.25vw') ––William L. Watkinson
    #about
      #about_top
        #about_us ABOUT US
        #dynamic_window
          button#button_left(onclick='scroll_left()')
            img.full_img(src='./pic/button_left.png')
          #display_area
            #card_box
              #card1.card
                .card_left
                  #gif1
                    img.full_img(src='./gif/gif1.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/pink_tage.png')
                    .intro_font 徐雙柔
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content UI/UX 設計師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 工設所 碩一
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content j25716383@gmail.com
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 攝影、美食、發現各種有趣的活動
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content AI、PS、ID、Sketch、Figma
              #card2.card
                .card_left
                  #gif2
                    img.full_img(src='./gif/gif2.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/pink_tage.png')
                    .intro_font 周為瑩
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content UI/UX 設計師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 心理系 大四
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content linn121221@gmail.com
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 挑戰新的事物、烹飪
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content AI、PS、Figma、電繪、設計思考
              #card3.card
                .card_left
                  #gif3
                    img.full_img(src='./gif/gif3.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/green_tage.png')
                    .intro_font 林賀軒
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content 工程師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 電機系 大三
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content f54076120@gs.ncku.edu.tw
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 煮飯吃飯、唱歌
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content python、C/C++、HTML
              #card4.card
                .card_left
                  #gif4
                    img.full_img(src='./gif/gif4.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/pink_tage.png')
                    .intro_font 林祐靖
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content 工程師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 資訊系 大四
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content f74064046@gs.ncku.edu.tw
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 吃東西、散步、看烏龜游泳
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content python、C/C++、HTML
              #card5.card
                .card_left
                  #gif5
                    img.full_img(src='./gif/gif5.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/green_tage.png')
                    .intro_font 陳奕廷
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content 工程師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 電機系 大三
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content anson1010105@gmail.com
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 彈吉他、慢跑、看電影
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content C++、HTML、Verilog
              #card6.card
                .card_left
                  #gif6
                    img.full_img(src='./gif/gif6.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/green_tage.png')
                    .intro_font 彭皓瑜
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content 工程師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 資訊系 大三
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content haoyu0970624763@gmail.com
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 看漫畫、吃美食
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content python、C/C++、HTML
              #card7.card
                .card_left
                  #gif7
                    img.full_img(src='./gif/gif7.gif')
                .self_intro
                  .intro_name
                    .thumbtack
                      img.full_img(src='./pic/green_tage.png')
                    .intro_font 蔡廷
                  .intro_list
                    .intro_list_card
                      .intro_list_bar
                        .intro_list_title
                          | 職位
                        .intro_list_content 工程師
                      .intro_list_bar
                        .intro_list_title
                          | 系所
                        .intro_list_content 電機系 大三
                      .intro_list_bar
                        .intro_list_title
                          | 信箱
                        .intro_list_content t072000@gmail.com
                      .intro_list_bar
                        .intro_list_title
                          | 興趣
                        .intro_list_content 聽歌、耍廢
                      .intro_list_bar
                        .intro_list_title
                          | 技能
                        .intro_list_content python、C/C++、HTML
          button#button_right(onclick='scroll_right()')
            img.full_img(src='./pic/button_right.png')
        #headbar
          .sticker
            .head
              button(onclick='scroll_to_card(1)')
                img.full_img(src='./pic/head1.png')
            font.name 徐雙柔
          .sticker
            .head
              button(onclick='scroll_to_card(2)')
                img.full_img(src='./pic/head2.png')
            font.name 周為瑩
          .sticker
            .head
              button(onclick='scroll_to_card(3)')
                img.full_img(src='./pic/head3.png')
            font.name 林賀軒
          .sticker
            .head
              button(onclick='scroll_to_card(4)')
                img.full_img(src='./pic/head4.png')
            font.name 林祐靖
          .sticker
            .head
              button(onclick='scroll_to_card(5)')
                img.full_img(src='./pic/head5.png')
            font.name 陳奕廷
          .sticker
            .head
              button(onclick='scroll_to_card(6)')
                img.full_img(src='./pic/head6.png')
            font.name 彭皓瑜
          .sticker
            .head
              button(onclick='scroll_to_card(7)')
                img.full_img(src='./pic/head7.png')
            font.name 蔡廷
    #authority
      | 心理健康與諮商輔導組
      br
      | 			地址：701台南市東區大學路1號光復校區雲平大樓東棟3樓
      br
      | 			電話：(06)2757575分機50320。傳真：(06)2766421
    script(src='main.js')

